@import "tailwindcss";

@theme {
  --font-lato: var(--font-lato);
  --font-cabinet-grotesk: var(--font-cabinet-grotesk);

  --color-brand-primary: #f7ab0a;
  --color-brand-black: #1a1a1a;
  --color-brand-white: #ffffff;
}

@layer base {
  body {
    @apply antialiased font-lato;
    color: var(--color-brand-black);
    background-color: var(--color-brand-white);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-cabinet-grotesk;
  }
}
